/**
 * EDD Product Updates Style
 *
 * @project   Easy Digital Downloads - Product Updates Extension
 * @version   0.9.1
 * @author    Evan Luzi
 * @copyright 2014 by the author
 * @cssdoc    version 1.0-pre
 *
*/

/* List table stylings */
.edd-pup-list #the-list .column-status {
	font-weight: bold;
}

.edd-pup-list #the-list .column-status .publish,
#edd-pup-admin-email .status-publish {
	color: #27ae60;
}

.edd-pup-list #the-list .column-status .pending,
#edd-pup-admin-email .status-pending {
	color: #f39c12;
}

.edd-pup-list #the-list .column-status .abandoned,
#edd-pup-admin-email .status-abandoned {
	color: #c0392b;
}

#edd-pup-admin-email #minor-publishing-actions a {
	text-align: center;
}

#edd-pup-admin-email #edd-pup-save-email-changes {
	float: left;
}

#edd-pup-admin-email #test-action {
	padding: 10px;
}

#edd-pup-admin-email #test-action input {
	width: 95%;
	margin: 0 auto;
}

#edd-pup-admin-email .tag-list {
	padding: 10px;
}

#edd-pup-admin-email .tag-list .template-tag {
	margin: 0.5em 0 0;
}

#edd-pup-admin-email .tag-list .tag-description {
	margin-top: 0;
	font-style: italic;
	color: #666;
}

#edd-pup-admin-email p.description {
	margin-bottom: 15px;
}

#edd-pup-admin-email .edd-pup-action {
	display: inline-block;
	padding: 20px 0;
}

/* Admin email stylings */
#edd-pup-admin-email #message-preview {
	padding: 10px 20px;
	border: 1px solid #e6e6e6;
}

#edd-pup-admin-email .view-buttons {
	display: block;
	clear: both;
}

#edd-pup-admin-email #updated-products {
	list-style-type: disc;
    margin-left: 1.5em;
    list-style-position: inside;
}


#edd-pup-admin-email #updated-products li a {
	text-decoration: none;
}

#prod-updates-email-confirm-titles,
#prod-updates-email-preview-confirm h3,
#prod-updates-email-preview-footer {
	text-align:center; 
}

#prod-updates-email-confirm-titles h2 {
	font-size:28px; 
}

#prod-updates-email-preview-confirm h3 {
	margin-top:0; 
	color:#999; 
}

#prod-updates-email-preview-message {
	max-width: 560px; 
	margin:0 auto; 
	padding: 20px; 
	border: 1px solid #e6e6e6; 
}

#prod-updates-email-preview-header {
	padding:0 0 10px; 
	border-bottom:1px solid #e6e6e6; 
}

#prod-updates-email-preview-footer {
	padding:20px 0 0; 
	border-top:1px solid #e6e6e6; 
}

#prod-updates-email-preview-footer ul {
	padding-bottom:10px; 
}

#prod-updates-email-confirm-prod-list {
	margin-left:25px; 
	list-style-type: disc; 
}

.prod-updates-email-confirm-info {
	margin:0; 
	text-align:left; 
}

#colorbox #cboxClose {
	top: 0; 
	right: 0; 
}

#cboxLoadedContent {
	margin: 28px 0 0;  
}

.edd-pu-spin {
	margin: 5px 0 0 10px; 
	float: none; 
}

.edd-pu-spin.loading {
	display: inline-block; 
}

#edd-pup-queue-details {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 640px;
}

.edd-pup-queue-email {
	border-top: 1px solid #cecece;
	padding: 0 0 20px;
}

#edd-pup-queue-buttons {
	border-top: 1px solid #cecece;
	padding-top: 20px;
	text-align: center;
}

#edd-pup-queue-buttons #edd-pup-send-all-queue {
	margin-right: 10px;
}

#edd-pup-queue-buttons .closebutton {
	display: block;
	margin: 20px auto 0;
}

.wp-list-table .column-email { width: 30%; }
.wp-list-table .column-status { width: 10%; }
.wp-list-table .column-subject { width: 30%; }
.wp-list-table .column-recipients { width: 10%;}
.wp-list-table .column-date { width: 20%;}


.postbox #edd-pup-popup-preview {
	padding: 0;
	max-width: 100%;
	margin: 0 auto;
}

/* Preview styles */
#edd-pup-popup-preview {
	padding: 0 20px;
	max-width: 600px;
	margin: 0 auto;
}

#edd-pup-popup-preview ul {
	list-style-type: disc;
	margin-left: 25px;
}

#edd-pup-popup-preview ul li ul,
#edd-pup-popup-preview ul ul {
	list-style-type: circle;
	margin-left: 25px;
}

/* View Alert */
.edd-pup-view-alert .postbox {
	background: rgba(231, 76, 60,.4);
	border: 2px solid rgba(192, 57, 43,1.0);
}

.edd-pup-view-alert .postbox .hndle {
	border-bottom-color: rgba(192, 57, 43,1.0);
}

.edd-pup-view-processing .postbox {
	background: rgba(46, 204, 113, 0.4);
	border: 2px solid rgba(39, 174, 96,1.0);
}

.edd-pup-view-processing .postbox .hndle {
	border-bottom-color: rgba(39, 174, 96,1.0);
}

/* Progress Bar */

#prod-updates-email-ajax-start {
	margin-bottom: 20px;
}

@-webkit-keyframes animatedProgress {
	0% { background-position: 0 0; }
	100% { background-position: 100% 0; }
}

.progress-wrap {
	width: 97%;
	max-width: 500px;
	text-align: center;
	display: none;
	padding-top: 15px;
}

.progress {

	padding: 4px;
	background: rgba(100, 100, 100, 0.25);
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
	position: relative;
	height: 16px;
	border-radius: 4px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar:before, .progress-bar:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.progress-bar:before {
	-webkit-animation: animatedProgress 15s linear infinite;
	bottom: 0;
	background: url("img/stripes.png") 0 0 repeat;
	border-radius: 4px 4px 0 0;
}
.progress-bar:after {
	z-index: 2;
	bottom: 45%;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.progress-bar.red {
  background-color: #f63a0f;	
}

.progress-bar.orange {
  background-color: #f27011;	
}

.progress-bar.yellorange {
  background-color: #f2b01e;	
}

.progress-bar.yellow {
  background-color: #f2d31b;	
}

.progress-bar.green {
  background-color: #86e01e;
}

.progress-bar[data-complete="0"],
.progress-bar[data-complete="5"],
.progress-bar[data-complete="10"],
.progress-bar[data-complete="15"],
.progress-bar[data-complete="20"] {
  width: 1%;
  background-color: #f63a0f;
}

.progress-bar[data-complete="5"] {
  width: 5%;
}

.progress-bar[data-complete="10"] {
  width: 10%;
}

.progress-bar[data-complete="15"] {
  width: 15%;
}

.progress-bar[data-complete="20"] {
  width: 20%;
}

.progress-bar[data-complete="25"],
.progress-bar[data-complete="30"],
.progress-bar[data-complete="35"],
.progress-bar[data-complete="40"],
.progress-bar[data-complete="45"] {
  width: 25%;
  background-color: #f27011;
}

.progress-bar[data-complete="30"] {
  width: 30%;
}

.progress-bar[data-complete="35"] {
  width: 35%;
}

.progress-bar[data-complete="40"] {
  width: 40%;
}

.progress-bar[data-complete="45"] {
  width: 45%;
}

.progress-bar[data-complete="50"],
.progress-bar[data-complete="55"],
.progress-bar[data-complete="60"],
.progress-bar[data-complete="65"],
.progress-bar[data-complete="70"] {
  width: 50%;
  background-color: #f2b01e;
}

.progress-bar[data-complete="55"] {
  width: 55%;
}

.progress-bar[data-complete="60"] {
  width: 60%;
}

.progress-bar[data-complete="65"] {
  width: 65%;
}

.progress-bar[data-complete="70"] {
  width: 70%;
}

.progress-bar[data-complete="75"],
.progress-bar[data-complete="80"],
.progress-bar[data-complete="85"],
.progress-bar[data-complete="90"],
.progress-bar[data-complete="95"] {
  width: 75%;
  background-color: #f2d31b;
}

.progress-bar[data-complete="80"] {
  width: 80%;
}

.progress-bar[data-complete="85"] {
  width: 85%;
}

.progress-bar[data-complete="90"] {
  width: 90%;
}

.progress-bar[data-complete="95"] {
  width: 95%;
}

.progress-bar[data-complete="100"] {
  width: 100%;
  background-color: #86e01e;
}

.progress-bar[data-complete="100"]:before {
  -webkit-animation: none;
}